@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap');

:root {
  --font-base: "Roboto", sans-serif;
  --primary-color: #edf2f8;
  --secondary-color: #313bac;
  --black-color: ☐#030303;
  --lightGray-color:#c4c4e4;
  --gray-color: #6b7688;
  --brown-color: #46364a;
  --white-color: white;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Roboto', sans-serif;
}